* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  font-size: 30px;
  background-color: gray;
}
nav {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
  list-style-type: none;
}

.content div {
  display: none;
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
}

.content div.active {
  display: block;
}

li:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
  border-radius: 50px;
  height: 40px;
  width: 85px;
}

.content {
  display: flex;
  justify-content: space-evenly;
}
