* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 63%;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(0, 137, 183);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4rem;
  color: white;
}

ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}
ul a {
  text-decoration: none;
}
ul li {
  color: white;
  font-size: 3rem;
  border-bottom: 0.4rem solid transparent;
  transition: ease-in-out;
}

ul li:hover {
  border-bottom: 0.4rem solid yellow;
  transition: ease-in-out;
}

/* home */
.container1 {
  height: 100%;
  width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  padding: 5rem;
  background-color: rgb(0, 61, 98);
  border-bottom: 10px solid rgb(0, 102, 143);
}

.hero_images {
  border-radius: 300px;
  overflow: hidden;
}

.hero_content h2 {
  font-size: 7rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.hero_content h1 {
  font-size: 5rem;
}

.hi_h {
  font-size: 7rem;
  font-weight: bold;
  color: rgb(252, 252, 125);
}

.name_h {
  font-size: 7rem;
}

/* projects */

#projects {
  background-color: rgb(0, 50, 81);
}

#projects h2 {
  text-align: center;
  font-size: 6rem;
  padding: 3rem;
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
}

.pro_container {
  padding-top: 5rem;
}

.grid_items {
  display: grid;
  place-items: center;
}

.card {
  width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.card_content {
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  top: -7rem;
  margin-bottom: -7rem;
  transform: translateY(100px);
}
.card:hover .card_content {
  background-color: white;
  color: rgb(0, 50, 81);
  transform: translate(0px);
  transition: 0.2s ease-in-out;
}

/* contacts */
#contacts {
  background-color: rgb(0, 61, 98);
}
.con_container {
  width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

#contacts h1 {
  font-size: 6rem;
  text-align: center;
}

#contacts h2 {
  padding-top: 4rem;
  font-size: 6rem;
  text-align: center;
}

.socials {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.social a {
  place-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 4rem;
  color: white;
  column-gap: 1rem;
}
