* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: grey;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}

.content {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 0.1);
  background-color: white;
  padding: 20px;
}

.content h1 {
  font-size: 45px;
}

.form label {
  font-size: 17px;
  font-weight: bold;
}

#web {
  font-size: 20px;
  color: darkblue;
}
.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}
.cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address1 {
  grid-column: 1 / span 2;
}

input,
select,
textarea {
  border: 1px solid black;
  padding: 6px 10px;
}
input,
textarea:focus {
  outline-color: blue;
}
.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#apply {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20%;
  transition: 0.3s ease-in;
}

#apply:hover {
  background-color: black;
  border-color: red;
  color: red;
  transition: 0.3s ease-out;
  cursor: pointer;
}
@media (max-width: 460px) {
  .address1 {
    grid-column: 1 / span 1;
  }
}
